<div class="main-wrapper container">
  <div class="content">
    <h2>みんスクについて</h2>
    <h3>使い方</h3>
    <h4>ユーザー登録</h4>
    <p>新規登録ボタンよりユーザー登録が可能です。</p>
    <p>必須項目の入力が完了後、ユーザー登録が完了いたします。</p>
    <p>※クレジットカードの登録は必須ではありませんが、出品時と購入時は必須となります。</p>
    <h4>出品の方法</h4>
    <h4>購入の方法</h4>
    <h4>利用方法</h4>
    <h3>Q&A</h3>
    <h4>サブクスが終了した場合どうなるのでしょうか？</h4>
  </div>
</div>