<div class="main-wrapper container">
  <div class="content help">
    <h2>みんスクについて</h2>
    <h3>使い方</h3>
    <h4>ユーザー登録</h4>
    <p>
      新規登録ボタンよりユーザー登録が可能です。<br>
      必須項目の入力が完了後、ユーザー登録が完了いたします。<br>
      ※クレジットカードの登録は必須ではありませんが、出品時と購入時は必須となります。
    </p>
    <h4>出品の方法</h4>
    <p>
      ログイン状態でトップページまたは検索画面にある「サブスクを作る」ボタンより出品いただけます。<br>
      その際、画像の添付が1点〜10点まで可能です。
    </p>
    <h4>購入の方法</h4>
    <p>
      各サブスクの詳細画面より購入が可能となります。<br>
      購入の際、クレジットカードの登録を行っていない場合は登録画面に遷移いたします。
    </p>
    <h4>サブスクの利用方法</h4>
    <p>
      マイページの購入したサブスク一覧より利用したいサブスクを選択します。<br>
      「QRコード発行」ボタンを押し、QRコードを出品者に提示します。<br>
      出品者の方がQRコードを読み取ると、利用可能かどうか確認ができます。<br>
      利用可能であれば確認完了となります。
    </p>
    <h3>Q&A</h3>
    <h4>サブクスの月額を変更したい</h4>
    <p>月額料金は一度登録すると変更できません。間違ったものは速やかに停止または削除した上で登録をお願いいたします。</p>
    <h4>出品者が停止した場合どうなるのか</h4>
    <p>
      出品者が停止を行った時点で、利用者全員の自動更新は停止されます。<br>
      停止されたサブスクは、その月の更新サイクルの終了を迎えるまで利用可能となります。
    </p>
  </div>
</div>