<div class="main-wrapper container">
  <div class="content">
    <h2>みんスクについて</h2>
    <h3>使い方</h3>
    <h4>ユーザー登録</h4>
    <h4>出品の方法</h4>
    <h4>購入の方法</h4>
    <h4>利用方法</h4>
    <h3>Q&A</h3>
  </div>
</div>