<%# main %>
<div class="main-wrapper container">
  <div class="about-mnsk">
    <h2>みんスクについて</h2>
    <p>
      みんスク（みんなのサブスク）は、誰でも自由にサービスをサブスクリプションとして提供、<br>
      あるいは購入できるプラットフォームです。<br>
      登録は簡単！すぐにサービスを開始することも購入することも可能です。<br>
      お気に入りのサービスを見つけて早速使ってみましょう！
    </p>
    <h3>みんスクの特徴</h3>
    <ul>
      <li>３分で登録完了</li>
      <li>すぐに出品できる手軽さ</li>
      <li>その場で購入できる使いやすさ</li>
    </ul>
  </div>
  <div class="subscriptions">
    <h2>サブスク一覧</h2>
    <div class="sb">
      <a href="/services/new" rel="nofollow"><button type="button" class="btn btn-outline-info">サブスクを作る</button></a>
    </div>
    <div class="d-flex flex-wrap">

      <% 10.times do%>
      <!-- card 1 -->
      <div class="card col-12 col-sm-6 col-md-4 col-xl-3" style="width: 18rem;">
        <%= image_tag "cover.png", class:"card-img" %>
        <div class="card-body">
          <h5 class="card-title">subscription name</h5>
          <span class="badge badge-pill badge-warning">¥12,345</span>
        </div>
      </div>
      <!-- end -->
      <% end %>

    </div>
  </div>
</div>