<div class="main-wrapper container">
  <div class="about-mnsk content">
    <h2>みんスクについて</h2>
    <p>
      みんスク（みんなのサブスク）は、誰でも自由にサービスをサブスクリプションとして提供、<br>
      あるいは購入できるプラットフォームです。<br>
      登録は簡単！すぐにサービスを開始することも購入することも可能です。<br>
      お気に入りのサービスを見つけて早速使ってみましょう！
    </p>
    <h3>みんスクの特徴</h3>
    <ul>
      <li>３分で登録完了</li>
      <li>すぐに出品できる手軽さ</li>
      <li>その場で購入できる使いやすさ</li>
    </ul>
  </div>
  <div class="subscriptions content">
    <h2>新着のサブスク</h2>
    <div class="d-flex flex-wrap">
      <% @services.each do |service|%>
        <% if service.service_status != "deleted" %>
          <!-- card -->
          <%= render partial: "/shared/service_card", locals: { service: service } %>
        <% end %>
      <% end %>
    </div>
        <div class="sb">
      <a href="/services/new" rel="nofollow"><button type="button" class="btn btn-outline-info">サブスクを作る</button></a>
      <a href="/services/search" rel="nofollow"><button type="button" class="btn btn-outline-success">サブスクを探す</button></a>
    </div>
  </div>
</div>