<div class="main-wrapper container">
  <div class="about-mnsk content">
    <h2>みんスクとは？</h2>
    <p>
      みんスク（みんなのサブスク）は、誰でも自由にサブスクを作ったり、<br>
      登録できるプラットフォームです。<br>
      サブスクを作るも使うもあなた次第！
    </p>
  </div>
  <div class="subscriptions content">
    <h2>新着のサブスク</h2>
    <div class="sb">
      <a href="/services/new" rel="nofollow"><button type="button" class="btn btn-outline-info">サブスクを作る</button></a>
      <a href="/services/search" rel="nofollow"><button type="button" class="btn btn-outline-success">サブスクを探す</button></a>
    </div>
    <div class="d-flex flex-wrap">
      <% @services.each do |service|%>
        <% if service.service_status != "deleted" %>
          <!-- card -->
          <%= render partial: "/shared/service_card", locals: { service: service } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>