<% if resource.errors.any? %>
  <div id="error_explanation">
    <p class="error-title">登録エラー</p>
    <div class="error-reasons">
      <% resource.errors.full_messages.each do |message| %>
        <% if message == "Name can't be blank" %>
          <p>名前が空白です</p>
        <% end %>
        <% if message == "Birthday can't be blank" %>
          <p>生年月日が空白です</p>
        <% end %>
        <% if message == "Email can't be blank" %>
          <p>メールアドレスが空白です</p>
        <% end %>
        <% if message == "Password can't be blank" %>
          <p>パスワードが空白です</p>
        <% end %>
        <% if message == "Email has already been taken" %>
          <p>既に登録済みのメールアドレスです</p>
        <% end %>
        <% if message == "Password confirmation doesn't match Password" %>
          <p>パスワードが一致していません</p>
        <% end %>
        <% if message == "Password is too short (minimum is 6 characters)" %>
          <p>パスワードが短すぎます。6文字以上の半角英数で入力してください</p>
        <% end %>
        <% if message == "Name is too short (minimum is 3 characters)" %>
          <p>お名前が短すぎます。3文字以上8文字以下で入力してください</p>
        <% end %>
        <% if message == "Name is too long (maximum is 8 characters)" %>
          <p>お名前が長すぎます。3文字以上8文字以下で入力してください</p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
