<%# サブスクの停止処理重複時のエラー文言 %>
<% if @error.message.start_with?("Subscription") && @error.message.end_with?("has already been paused.") %>
  <h3>既にサブスクリプションは停止済みです。</h3>
<% elsif @error.message.start_with?("Subscription") && @error.message.end_with?("has already been active.") %>
  <h3>既にサブスクリプションを購入済みです。</h3>
<% else %>
  <p><%= @error.message %></p>
<% end %>
