<%# footer %>
<div class="footer-wrapper container-fruid">
  <footer class="container d-flex align-items-center">
    <div>
      <h1>footer</h1>
      <p>(c)MNSK.app</p>
    </div>
  </footer>
</div>