<div class="main-wrapper container">
  <div class="order-new">
    <h2>購入確認画面</h2>
    <p><%= @service.service_name %></p>
    <p>カテゴリー：<%= @service.category.name %></p>
    <p>月額：¥<%= @service.price %></p>
    <p>このサブスクリプションを購入しますか？</p>
    <%= link_to "購入", service_orders_path(params[:service_id]), class: "mnsk-link"%>
  </div>
</div>