<div class="main-wrapper container">
  <div class="content">
    <h2>購入を停止しました。</h2>
    <%= @error if @error != nil %>
    <p>
      <%= Time.at(@sub.current_period_end).strftime("%Y年%m月%d日") %>まで利用可能です。<br>
      購入を再開したい場合は、サービスの詳細画面より再開可能です。
    </p>
  </div>
</div>