<div class="main-wrapper container">
  <div class="content">
    <% if @error.present? %>
      <h2>エラー</h2>
      <% @error.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% else %>
      <h2>正常に使用されました</h2>
      <p>コードは正常に使用されました</p>
      <%= link_to "トップ", root_path, class: "mnsk-link"%>
    <% end %>
  </div>
</div>