/* common settings *****************************/
html * {
  color: #777;
  font-family: 'Kosugi Maru', sans-serif;
}
h2 {
  font-size: 48px;
  margin-bottom: 30px;
}
h3 {
  font-size: 40px;
  margin-bottom: 30px;
}
p {font-size: 18px}

/* header **************************************/
header {
  height: 100px;
  border-bottom: 3px solid #777;
}
.logo-img {
  width: 72px;
  height: 72px;
}
.user-name {
  margin-right: 20px;
  font-size: 24px;
}
.user-name:hover {
  text-decoration: none;
  color: #06b45d;
}

/* footer **************************************/
footer {
  height: 150px;
  padding-top: 30px;
  border-top: 3px solid #777;
  color: #777;
  text-align: center;
}

/* main ****************************************/
.main-wrapper {padding: 60px 0;}
.content {text-align: center;}
.mnsk-link {
  background-color: #eeeeee;
  color: #07bd62;
  padding: 8px;
  border-radius: 12px;
  transition: all, .2s;
}
.mnsk-link:hover {
  background-color: #dbdbdb;
  color: #05914b;
  text-decoration: none;
  transition: all, .2s;
}

/* registration ********************************/
.registration label {
  font-size: 18px;
  margin-bottom: 4px;
}
.registration .field {margin-bottom: 16px}
.registration .field p{margin-bottom: 4px}
.registration input {width: 200px}
.actions {margin: 32px 0 16px}
.actions input {width: 100px}
.check input {width: 10px}
.exp_month,
.exp_year {width: 80px}
.card_limit {
  width: 200px;
  margin: 0 auto;
}

/* user ****************************************/
.user-info {margin-bottom: 45px;}
.user .link {color: #c725c7;}
.user .link:hover {color: #06b45d;}
.user table{margin: 0 auto}
.user table tr td {padding-bottom: 16px}


/* service *************************************/
/* about-mnsk */
.about-mnsk {margin-bottom: 90px}
.about-mnsk p {margin-bottom: 30px}
.about-mnsk ul {
  list-style: none;
  padding: 0;
}
.about-mnsk li {font-size: 28px}

/* subscriptions */
.sb {margin-bottom: 30px}
.card {
  border: none;
  margin-bottom: 16px;
  padding-top: 16px;
}
.card-image {max-height: 180px}
.card-body{padding: 20px 0}

/* new / edit */
.service-new .field,
.service-edit .field {margin-bottom: 30px;}
#image-list img {
  max-width: 200px;
  height: auto;
}
.service-images {
  max-width: 200px;
  height: auto;
}
/* show */
.service-show .carousel {margin-bottom: 30px}
.service-show .carousel {
  height: 500px;
  line-height: 500px;
}
.service-show .images {
  width: 500px;
  height: auto;
}
.carousel-control-next,
.carousel-control-prev {filter: invert(100%)}

/* order ***************************************/

/* error ***************************************/
.error-title {
  font-size: 24px;
  color: #770101;
}
.error-reasons {list-style: none}
.error-reasons p {
  color: #770101;
  font-size: 16px;
}

/* code ****************************************/