/* common settings *****************************/
html * {
  color: #777;
}
h2 {font-size: 48px}
h3 {font-size: 40px}
p {font-size: 18px}

/* body {
  background-color: #27926f;
} */
/* header **************************************/
.header-wrapper {
}
header {
  background-color: #fff;
  height: 100px;
  border-bottom: 3px solid #777;
}

.logo-img {
  width: 72px;
  height: 72px;
}

/* footer **************************************/
.footer-wrapper {
}
footer {
  background-color: #fff;
  height: 150px;
  border-top: 3px solid #777;
  color: #777;
}
footer div {
  width: 100%;
  text-align: center;
}

/* main ****************************************/
.main-wrapper {
  padding-top: 60px;
  background-color: #fff;
}

/* about-mnsk */
.about-mnsk {
  text-align: center;
  margin-bottom: 90px;
}
.about-mnsk h2, 
.about-mnsk h3, 
.about-mnsk p {
  margin-bottom: 30px;
}
.about-mnsk ul {
  list-style: none;
  padding: 0;
}
.about-mnsk li {
  font-size: 28px;
}

/* subscriptions */
.subscriptions h2 {
  text-align: center;
  margin-bottom: 30px;
}
.card {
  border: none;
  margin-bottom: 16px;
  padding-top: 16px;
}
.card-image {
  max-height: 180px;
}
.card-body{
  padding: 20px 0;
}